<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add Job</div>
    <div class="panel-body">
      <form class="form" method="post" ng-submit="addJob()" name="addForm">
        <div class="form-group" ng-class="{ 'has-success' : addForm.jobCategory.$valid && addForm.jobCategory.$dirty, 'has-error' : addForm.jobCategory.$invalid && addForm.jobCategory.$dirty }">
          <input class="form-control" type="text" name="jobCategory" ng-model="jobCategory" placeholder="Enter job name" required autofocus>
          <div class="help-block text-danger" ng-if="addForm.jobCategory.$dirty" ng-messages="addForm.jobCategory.$error">
            <div ng-message="required">Job name is required.</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid">Add</button>
      </form>
    </div>
  </div>
</div>