<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container">
        <div class="list-group">
            <h4>Category</h4><p>{{job.category}}</p><hr/>
            <h4>Enterprise</h4><p>{{job.enterprise}}</p><hr/>
            <h4>Technology</h4><p>{{job.technology}}</p><hr/>
            <p>{{job.description}}</p><hr/>
        </div>
      </div>
    
      <div class="text-center" ng-if="currentUser">
          <div ng-show="!isCandidate()">
            <button ng-click="takeJob()" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span> Take job
            </button>
          </div>
          <div ng-show="isCandidate()">
            <button ng-click="discardJob()" class="btn btn-danger">
              <span class="glyphicon glyphicon-minus"></span> Discard job
            </button>
          </div>
        </div>
      <div class="text-center" ng-show="!currentUser">
          <a class="btn btn-primary" href="#/login">Login to take job</a>
      </div>
    </div>
  </div>
</div>