<div class="jumbotron">
  <div class="container">
    <ul class="alphabet">
      <li ng-repeat="char in alphabet">
        <span ng-click="filterByAlphabet(char)">{{char}}</span>
      </li>
    </ul>
    <ul class="technologies">
      <li ng-repeat="technology in technologies">
        <span ng-click="filterByTechnology(technology)">{{technology}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <input class="search" type="text" ng-model="query.category" placeholder="Search...">
      </div>
    </div>
    <div class="panel-body">
      <div class="row show-list">
        <div class="col-xs-4 col-md-3" ng-repeat="job in jobs | filter:query">
          <div class="text-center">
            <a href="/jobs/{{job._id}}">{{job.category}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>