<div class="jumbotron">
  <div class="container">
    <ul class="technologies">
      <li ng-repeat="technology in technologies">
        <span ng-click="filterByTechnology(technology)">{{technology}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <input class="search" type="text" ng-model="query" placeholder="Search...">
      </div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a href="/jobs/{{job._id}}" class="list-group-item" ng-repeat="job in jobs | filter:query">
            <h4 class="list-group-item-heading">{{job.category}} <small><mark>{{job.enterprise}}<mark></mark></small></h4>
            <p class="text-info">{{job.technology}}, {{job.category}}</p>
            <p class="list-group-item-text">{{job.description}}</p>
        </a>
      </div>
    </div>
  </div>
</div>